@media only screen and (min-width: 768px) {
    .order-info h5{
        display: inline;
        margin-right: 50px;
    }
    .order-info h5:nth-child(2){
        margin-right: 380px;
    }
    .order-info{
        background-color: #3b5998;
        margin: 10px;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
    .order-product-name{
        width: 500px;
        float: left;
    }
    .price{
        margin-right: 200px;
    }
}
@media only screen and (max-width: 768px) {
    .order-info h5{
        display: inline;
        margin-right: 50px;
    }
    .order-info h5:nth-child(2){
        margin-right: 280px;
    }
    .order-info{
        background-color: #3b5998;
        margin: 10px;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
    .order-product-name{
        width: 500px;
        float: left;
    }
    .price{
        margin-right: 200px;
    }
}


