@media only screen and (min-width: 768px) {
    .routes {
      margin-left: 600px;
    }
    .routes button{
        margin-left: 20px;
        padding: 5px 20px;
    }
}
.login-btn{
    background-color: #3b5998 ;
    color: white;
    border: none;
    padding: 8px 40px;
    border-radius: 5px;
    margin-top: 5px;
}
.routes{
    font-weight: 500;
}
.shop-name{
    font-weight: 800;
}